.card-container {
	width: 100%;
	padding-bottom: 5em;
	padding-left: auto;
	padding-left: auto;
}

.card {
	width: 100%;
	// left:.6em;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color: $high-emphasis;

	transition: all .35s ease;

	.friends {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left:1em;
		font-size: 1.2em;

		& li{
			list-style-type: none;
			margin-bottom: .5em;
		}
	}
	
	.friend-item {
		cursor:pointer;
	}

	.control-buttons {
		position: relative;
		display: flex;
		justify-content:space-evenly;
		flex-direction: column;
		padding:.05em;
		flex-shrink: 0;
	}
	

	&-head {
		display:flex;
		// align-items: flex-end;
		justify-content: space-between;

		padding: 0 1em;

		&>h2 {
			line-height: 1;
		}
		&>p {
			line-height: 1;
			margin-top:.2em;
			margin-left: .3em;
		}
		
		
	}

	.create-new-btn {
		margin-top:auto;
		margin-bottom: auto;
		margin-right:.3em;
		color:$color-primary;	
		cursor: pointer;	
	}
	
	.edit-button {
		margin-top:auto;
		margin-bottom: auto;
		margin-right:.5em;
		color:$color-primary;	
		cursor: pointer;
	}

	.back-button {
		margin-top:auto;
		margin-bottom: auto;
		cursor: pointer;
	}

	&-body {
		// padding: .5em;
		transition: all .35s ease;
		position: relative;
	}

	.list-item {
		z-index: 1;
		transition: all linear .2s;
		// background-color: $card-item-color;
		border-bottom: 1px solid $color-primary;

		
		padding-left: .5em;
		padding-right: .5em;
		// padding-top:.1em;
		// padding-bottom: .5em;
		// box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
		// border-radius: 5px;
		font-size: 1.5em;

		&:nth-child(1){
			border-top: 1px solid $color-primary;
			// padding-top: .3em;
		}
		&>.list-info {
			&>.list-text-large {
				line-height: 1.1;
			}
			&>.list-text-small {
				
				line-height: 1;
				font-size: .6em;
			}
		}
		

		&>.list-controls{
			display: flex;
		}

		// &:hover {
		// 	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
		// 	transform: translate(-1px,-1px);
		// }
	}

	
}