$rich-black: #0B090A;
$eerie-black: #161A1D;
$dark-grey: #2c343a;

$background-color: #121212;
$card-body-color: rgba(255, 255, 255, 0.03);
$card-item-color: rgba(255, 255, 255, 0.05);
$card-head-color: rgba(255, 255, 255, 0.08);

$high-emphasis: rgba(255, 255, 255, 0.87);
$medium-emphasis: rgba(255, 255, 255, 0.6);
$disabled: rgba(255, 255, 255, 0.38);

$color-primary: #00A7E1;

$blood-red: #660708;
$ruby-red: #A4161A;
$carnelian-red: #BA181B;
$imperial-red: #E5383B;

$cerulean: #00A7E1;
$prussian: #003459;
$cg-blue: #007EA7;


$silver-chalice: #B1A7A6;
$light-grey: #D3D3D3;
$lighter-grey: #F5F3F4;
$white: #FFFFFF;

