
.notification-panel{
	position:fixed;
	bottom: 4em;	
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	pointer-events: none; 
}
.notification {
	padding:1em;
	background-color: $cerulean;
	position: relative;
	width:98%;
	min-height: 3.5em;
	margin-bottom: .5em;
	display: flex;
	justify-content: space-between;
	align-content: center;
	
	& .close{
		// position:absolute;
		// top:50%;
		// transform:translateY(-50%);
		// align-self: center;
		right:1em;
		pointer-events: auto; 
		cursor: pointer;
		margin-left:.5em;
	}
}
.status-bar {
    position: absolute;
    display:block;
    left: 0;
    top:100%;
    margin:0 auto;
    height: 2px;
    background-color: white;
    width: 100%;
    transition: width 1s;
	animation: status-bar 3s linear;
}
@keyframes status-bar {
	0% {
		width:0%;
	}
	100% {
		width:100%
	}
}

