@import 'config';
@import 'card';

//base resets
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: $background-color;
    color: $light-grey;
    font-size: 1rem;
    line-height: 1.6;
    font-family: "Russo One";
}

.not-active {
	display: none;
}

.is-active {
	display: block;
}

.cursor-pointer {
	cursor: pointer;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}